# Ignore the following
.DS_Store
wp-config.php
.htaccess
wp-content/uploads
wp-content/updraft/backup_2023-04-02-1543_Local_Root_With_Nature_f6797dda4bfc-uploads.zip
wp-content/ai1wm-backups/localhost-nature-20230117-002027-7f55qo.wpress
wp-content/ai1wm-backups/localhost-nature-20230116-224951-9h2bsa.wpress